{
    "presets": [
        ["env", { "modules": false }]
    ],
    "plugins": [
        "transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "presets": [
                "env"
            ]
        },
        "production": {
            "plugins": [
                "external-helpers"
            ]
        }
    }
}
